.raya-decorativa {
    width: 60px;
    height: 4px;
    background-color: var(--bs-info);
    border-radius: 2px;
}

/* Tarjeta Principal */
.tarjeta-habilidad {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 1rem 3rem rgba(0,0,0,.1) !important;
        
        .icono-contenedor {
            transform: rotateY(180deg);
        }
    }
}

/* El círculo de color detrás del icono principal */
.icono-contenedor {
    width: 80px;
    height: 80px;
    background-color: var(--bg-icono); /* Azul oscuro (Slate) */
    transition: transform 0.6s ease;
    
    /* Sombra suave de color azul */
    box-shadow: 0 4px 15px rgba(30, 41, 59, 0.3);
}

/* Estilo de las etiquetas */
.badge-habilidad {
    background-color: var(--bs-light);      /* Fondo gris muy clarito */
    color: var(--bs-dark);                  /* Texto oscuro */
    border: 1px solid rgba(0,0,0,0.1);
    font-weight: 500;
    font-size: 1rem;
    font-family: 'JetBrains Mono', monospace;
    transition: all 0.2s ease;

    &:hover {
        background-color: var(--bs-info);   /* Se pone celeste al pasar el mouse */
        color: white;                       /* Texto blanco */
        border-color: var(--bs-info);
    }
}