.raya-decorativa {
    width: 60px;
    height: 4px;
    background-color: var(--bs-info);
    border-radius: 2px;
}

.tarjeta-estudio {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    border-left: 5px solid var(--bs-info) !important; 
    
    &:hover {
        transform: translateX(5px); 
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        background-color: #f8fafc; 
    }
}

.texto-acento {
    color: var(--bs-info);
}