.parrafo-sobre-mi{
    text-align: justify;
    margin: 30px 0px 30px 0px;
}

.container-botones {
    text-align: center;
}

.btn-outline-primary {
    width: 20%;
    margin-top: 30px;
    margin-right: 20px;
}
